<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый посетитель</title>
</head>
<body>

<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="fullName">Введите ФИО посетителя: </label>
    <input type="text" th:field="*{fullName}" id="fullName"/>
    <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name error</div>
    <br/>
    <label for="yearBirth">Введите год рождения посетителя: </label>
    <input type="text" th:field="*{yearBirth}" id="yearBirth"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearBirth')}" th:errors="*{yearBirth}">yearBirth error</div>
    <br/>
    <input type="submit" value="Создать"/>
</form>

</body>
</html>