<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Посетитель</title>
</head>
<body>

<p th:text="${person.getFullName()} + ', ' + ${person.getYearBirth()}">FullName + year</p>
<span>ID: </span> <span th:text="${person.getPersonId()}">ID</span>

<div th:if="${books.isEmpty()}">
    <p>Посетитель не взял ни одной книги</p>
    <hr/>
</div>

<div th:if="${!books.isEmpty()}">
    <hr/> <!-- Это линия горизонтальная -->
    <b>Книги:</b>
    <br/> <!-- Это типо абзац -->
    <table th:each="book : ${books}">
        <tr th:text="${book.getTitle()} + ', ' + ${book.getAuthorName()} + ', ' + ${book.getRealiseYear()}">book</tr>
    </table>
    <hr/>
</div>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getPersonId()})}">
    <input type="submit" value="Редактировать"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}">
    <input type="submit" value="Удалить посетителя"/>
</form>
</body>
</html>